.message-container {
    padding: 8px 12px;
    border-radius: 16px 16px 16px 1px;
    width: fit-content;
    max-width: 33%;
    margin-right: auto;
}

.message-own {
    background-color: var(--primary);
    color: var(--text);

    .timestamp {
        color: var(--text);
    }
}

.message-other {
    background-color: var(--primary-dark);
    color: var(--text);

    .timestamp {
        color: var(--hints);
    }
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 4px;
    gap: 16px;
    min-width: 160px;
}

.message-content {
    font-size: 0.9rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hide-sender {
    padding-right: 16px;
    border-radius: 4px 16px 16px 1px;
    .message-header {
        display: none;
        * {
            display: none;
        }
    }
}

.pending-message {
    background-color: var(--hints);
}