.bordered-description {
    background-color: var(--primary-dark);
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    text-align: center;
    width: fit-content;
}